doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    style.
      body {
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
      }

      .container {
          max-width: 360px;
          margin: 20px auto;
          padding: 20px;
          background-color: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(20, 50, 70, 0.2);
      }

      .logo {
          display: block;
          margin: 0 auto;
          width: 180px;
          height: 180px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0 10px 15px rgba(20, 50, 70, 0.2);
      }

      .header {
          font-size: 14px;
          color: #517d92;
          text-align: center;
          margin: 12px 0;
      }

      .title {
          font-size: 18px;
          color: #000;
          text-align: center;
          margin: 16px 0;
      }

      .code-container {
          background: #ebe6df;
          border-radius: 4px;
          margin: 14px 0;
          text-align: center;
      }

      .code {
          font-size: 24px;
          color: #000;
          font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
          font-weight: 700;
          letter-spacing: 4px;
          padding: 8px 0;
      }

      .message {
          font-size: 14px;
          color: #444;
          text-align: center;
          margin: 0;
      }

      .contact {
          color: #444;
          text-decoration: underline;
      }

      .footer {
          font-size: 15px;
          color: #000;
          font-weight: 800;
          text-align: center;
          text-transform: uppercase;
          margin-top: 20px;
      }
  body
    div.container
      img.logo(alt='Plaid' src='https://icon-library.com/images/reset-password-icon/reset-password-icon-29.jpg')
      p.header אמת את זהותך
      h1.title הזן את הקוד הבא כדי לאפס את סיסמתך
      div.code-container
        p.code #{OTP}
      p.footer .קוד זה תקף ל-10 דקות
